.Main-chat
  .Main-header
    .Main-header__box
      .Main-header__box--group
        .Main-header__box--group__name
          = @group.name
      .Main-header__box--under-group
        .Main-header__box--under-group__member
          - @group.users.each do |user|
            = user.name
    .Main-header__right
      .Main-header__right--box
        .Main-header__right--box__edit_box
          .Main-header__right--box__edit_box__btn
            = link_to edit_group_path(@group), class: "Edit__btn" do
              Edit

  .Message-folder
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'