.Side_bar
  .Side-header
    .Side-header__list
      .Side-header__list--name
        %h3.Side-header__user--name
          = current_user.name
      .Side-header__list--content
        %ul.Side-header__content
          %li.Side-header__btn--icon
            = link_to "#", class:"btn--icon" do
              = icon('fas', 'edit')
          %li.Side-header__btn--edit
            = link_to edit_user_path(current_user), class:"btn--edit" do
              = icon('fa', 'cog')

  .Side__group
    .Side__group--box
      = link_to "#", class:"Side__group--name_box" do
        %p.Side__group--name
          techcamp
      .Side__group--message_box
        %p.Side__group--message
          テスト

    .Side__group--box
      = link_to "#", class:"Side__group--name_box" do
        %p.Side__group--name
          techcamp
      .Side__group--message_box
        %p.Side__group--message
          テスト

    .Side__group--box
      = link_to "#", class:"Side__group--name_box" do
        %p.Side__group--name
          techcamp
      .Side__group--message_box
        %p.Side__group--message
          テスト