.Side_bar
  .Side-header
    .Side-header__list
      .Side-header__list--name
        %h3.Side-header__user--name
          = current_user.name
      .Side-header__list--content
        %ul.Side-header__content
          %li.Side-header__btn--icon
            = link_to new_group_path(current_user), class:"btn--icon" do
              = icon('fas', 'edit')
          %li.Side-header__btn--edit
            = link_to edit_user_path(current_user), class:"btn--edit" do
              = icon('fa', 'cog')

  .Side__group
    - current_user.groups.each do |group|
      .Side__group--box
        = link_to "#", class:"Side__group--name_box" do
          .Side__group--name
            = group.name
        .Side__group--message_box
          .Side__group--message
            メッセージはまだありません